@import '../../SASS/reset';
@import '../../SASS/variables';


.form-login-container{
    display: flex;
    width: 100%;
    margin-top: 6rem;
 
    align-items: center;
    border: 5px solid $primary;
.form {
    flex: 3;
    padding: 2rem;
}
.form-img-container{
    flex: 3;
}
    img {
    height: 100%;
    width: 100%;
     
    }
}

.forgot-password{

    a {
        color: rgb(213, 190, 190);
    }
}