// ______________ colors ______________ 

$primary : #b9a720;
$dark : #030e21;
$secondary: #6E3B15;
$white: rgb(215, 215, 215);


$danger: #AB1E01;
$warning: #B8A712;
$green: #6EB615;



// shadow
$shadow: rgba(0, 0, 0, 0.821) 0px 5px 15px;


// radius
$radius: 5px;