@import '../../../SASS/reset';
@import '../../../SASS/variables';

.bigTitleContainer {
  background-color: $primary;
  color: $dark;
  border-radius: 1rem;

  padding: 0.5rem 1rem;
  margin: 3rem 0 1.5rem 0;

  h2 {
    text-transform: uppercase;
    font-weight: bolder;
  }
}


.containerhead {
  p {
    font-size: 1.3rem;
  }
}