@import '../../SASS/reset';
@import '../../SASS/variables';

.table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    text-align: left;
    border: 3px solid rgb(221, 221, 221);
    margin: 1rem 0;

  }
  
  .table th, .table td {
    padding: 8px 12px;
    border: 1px solid #dcdcdc;
  }
  
  .table thead {
    background-color: $secondary;
    text-align: center;
  }
  

  